<div class="block app-block-intro">
  <div class="container text-center">
    <h1 class="block-title m-b-sm text-uppercase app-myphone-brand">Spots</h1>
    <p class="lead">
      {{#if parkName}}
        {{ title }} spotted at {{ parkName }}
      {{/if}}
      {{#if error}}
        {{ error }}
      {{/if}}
    </p>
    {{#if url}}
        <img src={{ url }} >
    {{/if}}
  </div>
</div>

<div class="block block-bordered-lg app-block-info">
  <div class="container text-center app-translate-15">
    {{#if tags}}
    <blockquote class="pull-quote">
      <cite>Tags</cite>
      <p class="quote-tags">
        {{ tags }}
      </p>
    </blockquote>
    {{/if}}
  </div>
</div>