<div class="block app-block-intro">
  <div class="container text-center">
    <h1 class="block-title m-b-sm text-uppercase app-myphone-brand">Spots</h1>
    <p class="lead">
      {{#if parkName}}
        {{ title }} spotted at {{ parkName }}
      {{/if}}
      {{#if error}}
        {{ error }}
      {{/if}}
    </p>
    <div id="carousel-example-generic" class="carousel carousel-light slide" data-ride="carousel">
    <ol class="carousel-indicators">
      
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
      {{#each images}}
      <li data-target="#carousel-example-generic" data-slide-to="{{add @index 1}}" ></li>
      {{/each}}
      
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="block">
            <div class="container">
            <p style="text-align: center;">
              <img class="img-fluid mt-5 app-block-game-img" src={{ url }}>
              </p>
            </div>
          </div>
        </div>
      {{#each images}}
        <div class="item">
          <div class="block">
            <div class="container">
            <p style="text-align: center;">
              <img class="img-fluid mt-5 app-block-game-img" src={{ this }}>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    
  </div>
</div>


<div class="block block-bordered-lg app-block-info">
  <div class="container text-center app-translate-15">
    {{#if tags}}
    <blockquote class="pull-quote">
      <cite>Tags</cite>
      <p class="quote-tags">
        {{ tags }}
      </p>
    </blockquote>
    {{/if}}
  </div>
</div>